html{
  background: #71CBC4;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  width: 30rem;
  
 
}


ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #F5D1B4;
  
}

li a{  
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  color: #DE9590;
  padding: 50px;
  
}
h1 {
  color: rgb(255, 0, 149);
  background: blue;
}
ul div{
  border: 3px solid blue;
  border-radius: 30px;
 
  padding: 10px;
  margin:  10px;
}